<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="Nette Framework Static Web">
    <meta name="robots" content="{$robots}" n:ifset="$robots">

    

    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
    {block head}{/block}
</head>

<body>
<div id="header">
    <h1>Nette Fabrika, s.r.o.</h1>

    <h2>Otevřeli jsme továrnu na sny...</h2>
</div>
<div n:foreach="$flashes as $flash" n:class="flash,$flash->type">
   {$flash->message}

</div>
<ul class="navig">
    <li><a n:href="Homepage:">Články</a></li>
    {if $user->loggedIn}
        <li><a n:href="Sign:out">Odhlásit</a></li>
    {else}
        <li><a n:href="Sign:in">Přihlásit</a></li>
    {/if}
</ul>
    <!--vložení bloku content-->
    {include #content}

</body>
</html>