{block title}

<title> adasd</title>

{/block title}
{block content}
     <div>
       <h1>dsds</h1>
        {foreach $posts as $post}
          <div class="post">
             <div class="date">{$post->created_at|date:'F j, Y'} </div>
            <h2>{$post->title}</h2>
            <div>{$post->content}</div>
        
         </div>
         <h2><a href="{link Post:show, id => $post->id}">{$post->title}</a></h2>
         <a n:href="Post:create" n:if="$user->loggedIn">Napsat nový příspěvek</a>
        {/foreach}
     </div>
     <div>

     </div>   

{/block content}