{block title}<h1>{$post->title}</h1>{/block}
{block content}
<p><a n:href="Homepage:default">← zpět na výpis příspěvků</a></p>

<div class="date">{$post->created_at|date:'F j, Y'}</div>


<div class="post">{$post->content}</div>
{control commentForm}

<h2>komentaře</h2>

<div class="comments">
    {foreach $comments as $comment}
        <p><b><a href="mailto:{$comment->email}" n:tag-if="$comment->email">{$comment->name}</a></b> napsal:</p>
        <div>{$comment->content}</div>
<a n:href="edit $post->id">Upravit příspěvek</a>
    {/foreach}
</div>
{/block content}